@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;500;700&display=swap');

*{
  font-family: Roboto;
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  #helmet{
    height: 5rem;
  }
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 500;
}

#yellow {
  background-image: url(./imagens/a3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 30rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#name {
  margin: 5rem 0 5rem 3rem;
}
#image-yellow {
  position: absolute;
  width: 100%;
  z-index: -1;
}
#blue  {
  color: #012856;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#red {
  color: #E30917;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#text  {
  position: relative;
  width: 28.375rem;
  height: 12.125rem;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 1rem;
  margin: 5rem 3rem 5rem 0;
}

#kart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}
#kart h2 {
    text-align: right;
    margin-bottom: 2rem;
    color: #E30917;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

  }
#kart p {
  text-align: right;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  margin: 1rem;
}
 
#formula {
  background-image: url(imagens/a4.png);
  background-position: center;
  background-position-x: 0;
  background-size: 100%;
  height: 100%;
}

#formula p {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    padding: 10rem;
}

#estreia {
  background-color: #012856;
  padding: 2rem;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;

}

#hero {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

#hero img{
  height: 40rem;
}

#hero div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#hero h2 {
   text-align: center;
    color: #E30917;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hero p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}

#trophy {
  width: 100%;
  margin: 0;
}

#title div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #E30917;
}

#title p{
  padding: 3rem;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  font: Roboto;
}

#title strong{
  font-weight: 700;
  font-size: 2rem;
}

#declinio {
  background-color: #CBCBC9;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#declinio p {
  font-family: Roboto;
  font-size: 1.7rem;
  margin: 3rem;
  font-style: normal;
  font-weight: 300;

}